<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Szablon</title>
    <meta charset="utf-8">
    <meta name="title" content="Szablon">
    <meta name="description" content="Szablon opis">
    <meta name="keywords" content="Szablon keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/components/favicon/src/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/components/favicon/src/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/components/favicon/src/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/components/favicon/src/manifest.json">
    <link rel="mask-icon" href="/components/favicon/src/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/main.css">
    <script>
      document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')
    </script>
  </head>
  <body>
    <div class="loader js-loader"><img class="loader__icon" src="source/layout/loader/src/three-dots.svg" alt="Loading..."></div>
    <!-- Header-->
    <header class="header js-header -header-landingPage -header-fixed">
      <div class="header__wrapper">
        <div class="header__content">
          <div class="header__container">
            <div class="header__box">
              <div class="header__item">
                <!--Logo--><a class="logo" href="#" title="Home Page">
                  <div class="logo__icon">T</div>
                  <div class="logo__content">
                    <div class="logo__title">TAKE</div>
                    <div class="logo__text">by MSOBIECKI</div>
                  </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Content-->
    <div class="content js-content">
      <div class="banner js-banner js-banner-slick">
        <div class="banner__slider" data-slick="{&quot;speed&quot;: 3000, &quot;autoplaySpeed&quot;: 5000}">
          <div class="banner__item">
            <div class="banner__image" style="background-image: url('source/components/banner/src/banner-one.jpg');" alt="Mountains"></div>
            <div class="banner__box">
              <div class="banner__content">
                <div class="banner__text">
                  <h2>ZNAJDŹ PODRÓŻ</h2>
                  <h1>IDEALNĄ DLA SIEBIE</h1>
                </div><span class="banner__toggler" data-href="#contentPage" title="Przejdź dalej"><i class="material-icons">keyboard_arrow_down</i></span>
              </div>
            </div>
          </div><a class="banner__item -banner-content-left" href="#">
            <div class="banner__image" style="background-image: url('source/components/banner/src/banner-one.jpg');" alt="Mountains"></div>
            <div class="banner__box">
              <div class="banner__content">
                <div class="banner__text">
                  <h2>ZNAJDŹ PODRÓŻ</h2>
                  <h1>IDEALNĄ DLA SIEBIE</h1>
                </div><span class="banner__toggler" data-href="#contentPage" title="Przejdź dalej"><i class="material-icons">keyboard_arrow_down</i></span>
              </div>
            </div></a><a class="banner__item -banner-content-right" href="#">
            <div class="banner__image" style="background-image: url('source/components/banner/src/banner-one.jpg');" alt="Mountains"></div>
            <div class="banner__box">
              <div class="banner__content">
                <div class="banner__text">
                  <h2>ZNAJDŹ PODRÓŻ</h2>
                  <h1>IDEALNĄ DLA SIEBIE</h1>
                </div><span class="banner__toggler" data-href="#contentPage" title="Przejdź dalej"><i class="material-icons">keyboard_arrow_down</i></span>
              </div>
            </div></a>
        </div>
        <div class="banner__toolbar">
          <div class="banner__dots"></div>
        </div>
      </div>
      <!-- Content Blocks-->
      <section class="content__blocks" id="contentPage">
        <!-- Textfield-->
        <section class="textfield">
          <div class="textfield__container">
            <h3 class="textfield__title">Start something new</h3>
            <div class="textfield__content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              <p> eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
              <p> sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
          </div>
        </section>
        <!-- Colored-->
        <section class="colored">
          <div class="colored__container">
            <div class="colored__box">
              <div class="colored__item">
                <h4 class="colored__title">Design quality</h4>
                <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
              </div>
              <div class="colored__item" style="background-image: url(source/components/colored/src/small-one.jpg);">
                <h4 class="colored__title">Build to last</h4>
                <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Get insights <i class="material-icons">arrow_forward</i></a>
              </div>
              <div class="colored__item">
                <h4 class="colored__title">Our clients</h4>
                <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
              </div>
              <div class="colored__item -large" style="background-image: url(source/components/colored/src/large-one.jpg);">
                <h4 class="colored__title">Sign up & see why</h4>
                <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Get Started Now <i class="material-icons">arrow_forward</i></a>
              </div>
              <div class="colored__item">
                <h4 class="colored__title">Perfect pictures</h4>
                <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
              </div>
              <div class="colored__item">
                <h4 class="colored__title">Perfect pictures</h4>
                <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
              </div>
              <div class="colored__item -large" style="background-image: url(source/components/colored/src/large-two.jpg);">
                <h4 class="colored__title">Sign up & see why</h4>
                <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
              </div>
            </div>
          </div>
        </section>
        <!-- Details-->
        <section class="details">
          <div class="details__container">
            <h3 class="details__title">A look at the details</h3>
            <div class="details__box">
              <div class="details__item">
                <h4 class="details__subtitle">Web based</h4>
                <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
              <div class="details__item">
                <h4 class="details__subtitle">Performace</h4>
                <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
              <div class="details__item">
                <h4 class="details__subtitle">Clultral</h4>
                <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
              <div class="details__item">
                <h4 class="details__subtitle">Sustainability</h4>
                <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
            </div>
          </div>
        </section>
        <!-- Abstract-->
        <section class="abstract js-abstract">
          <div class="abstract__item -abstract-left -abstract-bottom" style="background-image: url(source/components/abstract/src/abstract-one.jpg);">
            <div class="abstract__container">
              <div class="abstract__details">
                <h2 class="abstract__title">More power behind every pixel!</h2>
                <div class="abstract__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="abstract__link" href="#">See the options <i class="material-icons">arrow_forward</i></a>
              </div>
            </div>
          </div>
          <div class="abstract__item -abstract-right -abstract-top" style="background-image: url(source/components/abstract/src/abstract-two.jpg);">
            <div class="abstract__container">
              <div class="abstract__details">
                <h2 class="abstract__title">More power behind every pixel!</h2>
                <div class="abstract__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="abstract__link" href="#">See the options <i class="material-icons">arrow_forward</i></a>
              </div>
            </div>
          </div>
          <div class="abstract__item -abstract-right -abstract-bottom" style="background-image: url(source/components/abstract/src/abstract-three.jpg);">
            <div class="abstract__container">
              <div class="abstract__details">
                <h2 class="abstract__title">More power behind every pixel!</h2>
                <div class="abstract__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="abstract__link" href="#">See the options <i class="material-icons">arrow_forward</i></a>
              </div>
            </div>
          </div>
          <div class="abstract__item" style="background-image: url(source/components/abstract/src/abstract-four.jpg);">
            <div class="abstract__container">
              <div class="abstract__details">
                <h2 class="abstract__title">More power behind every pixel!</h2>
                <div class="abstract__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="abstract__link" href="#">See the options <i class="material-icons">arrow_forward</i></a>
              </div>
            </div>
          </div>
        </section>
        <!-- Reasons-->
        <section class="reasons">
          <div class="reasons__container">
            <h3 class="reasons__title">Reasons to get onboard</h3>
            <div class="reasons__box">
              <div class="reasons__item">
                <h4 class="reasons__subtitle">Web based</h4>
                <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
              <div class="reasons__item">
                <h4 class="reasons__subtitle">Team login</h4>
                <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
              <div class="reasons__item">
                <h4 class="reasons__subtitle">Great Support</h4>
                <div class="reasons__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
              </div>
            </div>
          </div>
        </section>
        <!-- Plan-->
        <section class="plan">
          <div class="plan__container">
            <div class="plan__box">
              <div class="plan__item">
                <div class="plan__details">
                  <div class="plan__labels"><span class="plan__label">LEGACY</span><span class="plan__label">LOREM IPSUM</span></div>
                  <h3 class="plan__title">Go it solo</h3>
                  <div class="plan__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div><a class="plan__link" href="#">BUY NOW $9</a>
                  <div class="plan__systems"><span class="plan__system"></span><span class="plan__system"></span></div>
                </div>
              </div>
              <div class="plan__item">
                <div class="plan__details">
                  <div class="plan__labels"><span class="plan__label">LEGACY</span><span class="plan__label">LOREM IPSUM</span></div>
                  <h3 class="plan__title">Go it solo</h3>
                  <div class="plan__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div><a class="plan__link" href="#">BUY NOW $9</a>
                  <div class="plan__systems"><span class="plan__system"></span><span class="plan__system"></span></div>
                </div>
              </div>
              <div class="plan__item">
                <div class="plan__details">
                  <div class="plan__labels"><span class="plan__label">LEGACY</span><span class="plan__label">LOREM IPSUM</span></div>
                  <h3 class="plan__title">Go it solo</h3>
                  <div class="plan__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div><a class="plan__link" href="#">BUY NOW $9</a>
                  <div class="plan__systems"><span class="plan__system"></span><span class="plan__system"></span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <!-- Footer-->
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__box">
          <div class="footer__item">
            <!-- Footer-details-->
            <div class="footer-details">
              <div class="footer-details__box">
                <div class="footer-details__item">
                  <h3 class="footer-details__title">Get in touch</h3>
                  <div class="footer-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
                <div class="footer-details__item">
                  <h3 class="footer-details__title">Resources</h3>
                  <div class="footer-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
                <div class="footer-details__item">
                  <h3 class="footer-details__title">Features</h3>
                  <div class="footer-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
                <div class="footer-details__item">
                  <h3 class="footer-details__title">How To's</h3>
                  <div class="footer-details__menu"><a class="footer-details__link" href="#">Tour</a><a class="footer-details__link" href="#">Customers</a><a class="footer-details__link" href="#">Pricing and Plans</a><a class="footer-details__link" href="#">New Features</a><a class="footer-details__link" href="#">Education</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__item">
            <!-- Footer-newsletter-->
            <div class="footer-newsletter">
              <div class="footer-newsletter__title">Stay in touch</div>
              <div class="footer-newsletter__content">
                <div class="footer-newsletter__inputbox">
                  <input class="footer-newsletter__input">
                  <button class="footer-newsletter__submit"><i class="material-icons">check</i></button>
                </div>
                <div class="footer-newsletter__text">We don't send spam. Actually, who are we kiding we'll spam the shit out of your inbox.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Arrow Scroll--><span class="arrow js-arrow"><i class="material-icons">keyboard_arrow_up</i></span>
    <!--Scripts-->
    <script src="scripts/main.min.js"></script>
  </body>
</html>