<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Szablon</title>
    <meta charset="utf-8">
    <meta name="title" content="Szablon">
    <meta name="description" content="Szablon opis">
    <meta name="keywords" content="Szablon keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/components/favicon/src/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/components/favicon/src/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/components/favicon/src/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/components/favicon/src/manifest.json">
    <link rel="mask-icon" href="/components/favicon/src/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/main.css">
    <script>
      document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')
    </script>
  </head>
  <body>
    <div class="loader js-loader"><img class="loader__icon" src="source/layout/loader/src/three-dots.svg" alt="Loading..."></div>
    <!--TODO Header-->
    <!--TODO Content-->
    <div class="content js-content">
      <!--TODO Banner-->
      <!-- Textfield-->
      <section class="textfield">
        <div class="textfield__container">
          <div class="textfield__title">Start something new</div>
          <div class="textfield__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            <p> eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
            <p> sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
        </div>
      </section>
      <!-- Colored-->
      <section class="colored">
        <div class="colored__container">
          <div class="colored__box">
            <!--Colors: "f5989d", "", "", ""-->
            <div class="colored__item" data-color="">
              <h4 class="colored__title">Design quality</h4>
              <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
            </div>
            <div class="colored__item" data-color="">
              <h4 class="colored__title">Build to last</h4>
              <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
            </div>
            <div class="colored__item" data-color="">
              <h4 class="colored__title">Our clients</h4>
              <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
            </div>
            <div class="colored__item -large" data-color="">
              <h4 class="colored__title">Sign up & see why</h4>
              <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
            </div>
            <div class="colored__item" data-color="">
              <h4 class="colored__title">Perfect pictures</h4>
              <div class="colored__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="colored__link" href="#">Find Out more <i class="material-icons">arrow_forward</i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- Details-->
      <section class="details">
        <div class="details__container">
          <h3 class="details__title">A look at the details</h3>
          <div class="details__box">
            <div class="details__item">
              <h4 class="details__subtitle">Web based</h4>
              <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="details__item">
              <h4 class="details__subtitle">Performace</h4>
              <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="details__item">
              <h4 class="details__subtitle">Clultral</h4>
              <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="details__item">
              <h4 class="details__subtitle">Sustainability</h4>
              <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
          </div>
        </div>
      </section>
      <!--TODO Huge img-->
      <!--TODO colorowy column-->
      <!--TODO Plan-->
    </div>
    <!--TODO Footer--><span class="arrow js-arrow"><i class="material-icons">keyboard_arrow_up</i></span>
    <!--Scripts-->
    <script src="scripts/main.min.js"></script>
  </body>
</html>