// Plan
section.plan
  .plan__container
    .plan__box
      .plan__item
        .plan__details
          .plan__labels
            span.plan__label LEGACY
            span.plan__label LOREM IPSUM
          h3.plan__title Go it solo
          .plan__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a.plan__link(href="#") BUY NOW $9
          .plan__systems
            span.plan__system
            span.plan__system
      .plan__item
        .plan__details
          .plan__labels
            span.plan__label LEGACY
            span.plan__label LOREM IPSUM
          h3.plan__title Go it solo
          .plan__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a.plan__link(href="#") BUY NOW $9
          .plan__systems
            span.plan__system
            span.plan__system
      .plan__item
        .plan__details
          .plan__labels
            span.plan__label LEGACY
            span.plan__label LOREM IPSUM
          h3.plan__title Go it solo
          .plan__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a.plan__link(href="#") BUY NOW $9
          .plan__systems
            span.plan__system
            span.plan__system