// Colored
section.colored
  .colored__container
    .colored__box
      //Colors: "f5989d", "", "", ""
      .colored__item(data-color="")
        h4.colored__title Design quality
        .colored__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.colored__link(href="#") Find Out more <i class="material-icons">arrow_forward</i>
      .colored__item(data-color="")
        h4.colored__title Build to last
        .colored__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.colored__link(href="#") Find Out more <i class="material-icons">arrow_forward</i>
      .colored__item(data-color="")
        h4.colored__title Our clients
        .colored__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.colored__link(href="#") Find Out more <i class="material-icons">arrow_forward</i>
      .colored__item(data-color="").-large
        h4.colored__title Sign up & see why
        .colored__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.colored__link(href="#") Find Out more <i class="material-icons">arrow_forward</i>
      .colored__item(data-color="")
        h4.colored__title Perfect pictures
        .colored__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.colored__link(href="#") Find Out more <i class="material-icons">arrow_forward</i>