extends layout/_layout

block content
  //TODO Banner

  include components/textfield/_textfield

  include components/colored/_colored

  include components/details/_details

  include components/abstract/_abstract

  include components/reasons/_reasons

  include components/plan/_plan