extends layout/_layout

block content
  //TODO Banner

  include components/textfield/_textfield

  include components/colored/_colored

  include components/details/_details

  //TODO Huge img

  //TODO colorowy column

  //TODO Plan